.blog-light-AI {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.blog-light-AI .div-2 {
    background-color: #ffffff;
    height: 5642px;
    position: relative;
    width: 1512px;
}

.blog-light-AI .intelligence-of {
    color: #333333;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 96px;
    font-weight: 400;
    height: 258px;
    left: 151px;
    letter-spacing: 0;
    line-height: 115.2px;
    position: absolute;
    top: 233px;
    width: 1178px;
}

.blog-light-AI .text-wrapper-11 {
    color: #333333;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 96px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 115.2px;
}

.blog-light-AI .text-wrapper-12 {
    font-size: 36px;
    line-height: 43.2px;
}

.blog-light-AI .text-wrapper-13 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 759px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 2646px;
    width: 581px;
}

.blog-light-AI .AI-in-lighting {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 764px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 4007px;
    width: 581px;
}

.blog-light-AI .group {
    height: 735px;
    left: 0;
    position: absolute;
    top: 582px;
    width: 1512px;
}

.house{
    
    background-size: 100% 100%;
    height: 767px;
    left: 167px;
    position: absolute;
    top: 3061px;
    width: 581px;
   
}

.aiimage166{
    display: none;
}





.blog-light-AI .in-one-of-his-work {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 772px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 1406px;
    width: 573px;
}

.blog-light-AI .image {
    height: 667px;
    left: 167px;
    position: absolute;
    top: 4009px;
    width: 581px;
}

.blog-light-AI .group-3 {
    /* background-image: url(./mappa-festadellelucia2a-6-1.png); */
    background-size: 100% 100%;
    height: 778px;
    left: 167px;
    position: absolute;
    top: 1700px;
    width: 581px;
}


.blog-light-AI .machine-learning-is {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 764px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 3050px;
    width: 581px;
}

.blog-light-AI .if-you-would-like-to {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 176px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 4897px;
    width: 469px;
}

.blog-light-AI .text-wrapper-14 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    left: 167px;
    letter-spacing: 0;
    line-height: 57.6px;
    position: absolute;
    top: 2646px;
    width: 535px;
}
