.card {
    height: 411px;
    position: relative;
    width: 342px;
}

.card .overlap-group {
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 342px;
}

.card .overlap {
    background-color: #ff2500;
    height: 38px;
    left: 296px;
    position: absolute;
    top: 2px;
    width: 44px;
}

.card .vector-instance {
    height: 20px !important;
    left: 12px !important;
    position: absolute !important;
    top: 9px !important;
    width: 20px !important;
}

.card .element-bridge {
    font-family: "Poppins-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    height: 30px;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
}

.card .text-wrapper {
    color: #0f0f0f;
    font-family: "Poppins-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    height: 30px;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
}

.card .instance-node {
    height: 20px !important;
    left: 308px !important;
    position: absolute !important;
    top: 11px !important;
    width: 20px !important;
}

.card .rectangle {
    height: 353px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 58px;
    width: 342px;
}

.card .white-unclicked {
    border: 2px solid;
    border-color: #ffffff;
}

.card .clicked {
    background-color: #ffff00;
}

.card .black-unclicked {
    border: 2px solid;
    border-color: #0f0f0f;
}

.card .overlap-group.white-unclicked .element-bridge {
    color: #ffffff;
}

.card .overlap-group.clicked .element-bridge {
    color: #0f0f0f;
}

.card .overlap-group.black-unclicked .element-bridge {
    color: #0f0f0f;
    width: 270px;
}
