.light{
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow-y: hidden;
}

body{
    background-color: white;
}

.need-light{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.6px;
    position: relative;
    top: -25px;
    left: 160px;
    overflow: hidden;
}

.flexbox-container {
    position: absolute;
    left: 150px;
    overflow-y: hidden;
    top: 95px;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    /* justify-content: center; */
    overflow: hidden;
    height: 500px;
    z-index: 1;
}
  
  .flexbox-row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: relative;
    left: 19px;
  }

  .flexbox-row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: relative;
    top: 10px;
    left: 19px;
  }

  .flexbox-row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: relative;
    left: 19px;
    top: 20px;
  }

  .flexbox-item{
    padding: 2px 0px;
    margin: 1px 0 0;
    z-index: 0;
}

.checkboxes{
    height: 150px;
    width: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;   
    border-radius: 10px;
}

.checkboxes p {
    padding-top: 10px;
    line-height: 110%;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110.5%; /* 21.33px */
    letter-spacing: 0.54px;
}

.checkboxes:hover{
    background-color: #6234F4;
    color: white;
}


.flexbox-item > input {
    padding: 0px;
    border-radius: 100px;
    cursor: pointer;

  }

  .flexbox-item > input:hover{
    border: black;
    color: white;
  }

img{
    outline: none;
}

.color-display{
    border-radius: 10px;
    background-color: #E6E6E6;
    margin-right: 10px;
    position: relative;
    left: -15px;
    height: 155px;
    width: 134px;
}

.color-display:hover{
    cursor: pointer;
}

.color-display:hover img{
    /* content: url('../images/Homehover.png'); */
    cursor: pointer;
}

#home:hover img{
    content: url('../images//Homehover.png');
}

#office1:hover img{
    content: url('../images/Office3hover.png');
}

#hotel:hover img{
    content: url('../images/Hotelhover.png');
}

#cafe:hover img{
    content: url('../images/Cafehover.png');
}

#restaurant:hover img{
    content: url('../images/Restauranthover.png');
}

#shop:hover img{
    content: url('../images/Shophover.png');
}

#museum:hover img{
    content: url('../images/Exhibitionhover.png');
}

#factory:hover img{
    content: url('../images/Factoryhover.png');
}

#warehouse:hover img{
    content: url('../images/Warehouse2hover.png');
}

/* #corporate{
    position: relative;
    left: -16px;
} */

#corporate:hover img{
    content: url('../images/Corporate\ eventhover.png');
}

/* #concert{
    position: relative;
    left: -5px;
} */

#concert:hover img{
    content: url('../images/Concertshover.png');
}

#celebration:hover img{
    content: url('../images/Celebrationhover.png');
}

/* #celebration{
    position: relative;
    left: 5px;
} */

#sports:hover img{
    content: url('../images/Sportshover.png');
}

/* #sports{
    position: relative;
    left: 15px;
} */

#hospital:hover img{
    content: url('../images/Hospitalhover.png');
}

/* #hospital{
    position: relative;
    left: 23px;
} */

#street:hover img{
    content: url('../images/Streethover.png');
}

/* #street{
    position: relative;
    left: -29px;
} */

#park:hover img{
    content: url('../images/Parkhover.png');
}

/* #park{
    position: relative;
    left: -21px;
} */

#garden:hover img{
    content: url('../images/Gardenhover.png');
}

/* #garden{
    position: relative;
    left: -10px;
} */

#facade:hover img{
    content: url('../images/Facadehover.png');
}

/* #facade{
    position: relative;
    left: 0px;
} */

#yacht:hover img{
    content: url('../images/Yachthover.png');
}

/* #yacht{
    position: relative;
    left: 12px;
} */

#airplane:hover img{
    content: url('../images/Airplanehoveer.png');
}

/* #airplane{
    position: relative;
    left: 20px;
} */

#locomotives:hover img{
    content: url('../images/Locomotiveshover.png');
}

/* #locomotives{
    position: relative;
    left: 30px;
} */

  
#back-btn{
    display: flex;
    width: 142px;
    height: 47px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 26px;
    border: 3px solid var(--default, #7246FD);
    background: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.16);
    color: var(--default, #7246FD);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    position: relative;
    top: 20px;
    z-index: 1;
}

#back-btn:hover{
    background-color: #7246FD;
    color: white;
}

#back-btn:hover img{
    content: url('../images/backhover.png');
}

#next-btn{
    display: flex;
    width: 142px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 26px;
    background: var(--default, #7246FD);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.16);
    border: none;
    height: 47px;
    color: var(--default, white);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    position: relative;
    top: 20px;
    z-index: 1;
}

/* #next-btn:hover{
    background-color: white;
    color: #7246FD;
}

#next-btn:hover img{
    content: url('../images/nexthover.png');
} */


.btn-container{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 561px;
    left: 166px;
    z-index: 1;
}

.progress-cont1{
    /* display: inline-block; */
    display: flex;
    gap: 3px;
    height: 15px;
    position: absolute;
    top: 550px;
    left: 800px;
    z-index: 1;
}

.first-num{
    color: #7246FD;
    text-align: right;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

}

.second-num{
    color: rgba(114, 70, 253, 0.35);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.num-cont{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -7px;
    left: 4px;
}


.home-pop{
    position: relative;
    top: 10px;
    left: 250px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 930px;
    height: 480px;
    padding: 32px 40px;
    border-radius: 25px;
    background: #FFF;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
}

.home-pop input{
    height: 25px;
    width: 25px;
    background-color: red;
}

.head{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    position: relative;
    left: -60px;
}

.head > h1{
    position: relative;
    top: -10px;
    right: 220px;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}

.x-Button1{
    position: relative;
    top: -50px;
    left: 390px;
    display: inline-block;
    height: 25px;
}

.all{
    display: flex;
    gap: 33px;
    position: relative;
    left: 6px;
    top: 0px;
    white-space: nowrap;
}

#selectAll{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.catalog{
    height: 25px;
    width: 25px;
    display: grid;
    grid-template-columns: 1.2rem 8rem 1.2rem 5rem 1.2rem 5rem;
    grid-gap: 1.25rem 2.8rem;
    position: relative;
    top: 100px;
    left: -550px;
}

.catalog > p{
    white-space: nowrap;
}

.all-div{
    position: relative;
    top: -50px;
    left: 50px;
    white-space: nowrap;
    display: flex;
    gap: 40px;
}

.ul{
    display: grid;
    grid-template-columns: 12.5rem 13rem 13rem;
    grid-gap: 0.75rem 2.8rem;
    list-style: none;
    white-space: nowrap;
}

/* .label-home{
    font-size: 500px;
    position: absolute;
    top: 50px;
} */

.checksss{
    position: relative;
    top: 5px;
    right: 15px;
}


.submit-btn{
    width: 152px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 26px;
    background: var(--default, #7246FD);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.16);
    border: none;
    height: 55px;
    color: var(--default, white);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    cursor: pointer;
    position: relative;
    top: 270px;
    left: 450px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Style for the radio buttons when selected */
.radio-button1 input[type="radio"]:checked + .radio-button1 + .btn {
    background-color: #7246FD;
    
}

.radio-button1 input:checked + #home > img{
    content: url('../images/Homehover.png');
}

.radio-button1 input:checked{
    background-color: red;
}

.radio-button1 input[type="radio"]:checked + .checkboxes {
    background-color: #e74c3c;
    color: red;
}

/* Hide the actual radio buttons */
.radio-button1 input[type="radio"] {
    display: none;
}

.deco{
    position: absolute;
    top: -320px;
    height: 145.2vh;
    width: 100.5vw;
    z-index: 0;
}